CARE_DB_USER=care_user
CARE_DB_PASSWORD=care_password
CARE_DB_NAME=care_health
CARE_DB_PORT=5432

CARE_BACKEND_PORT=9010
CARE_UI_PORT=13000

CARE_BACKEND_URL=http://care_backend:9010

CARE_API_KEY=
CARE_API_URL_LLM=https://api.openai.com/v1
CARE_MODEL_LLM=gpt-4o-mini
CARE_API_URL_WHISPER=https://api.openai.com/v1/audio/transcriptions
CARE_MODEL_WHISPER=whisper-1
